.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card {
    position: "fixed";
    width: 20cm;
    height:20cm;
    margin-top:500px;
    margin-left: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  .card2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0Zpx 0px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card2 {
    position: "fixed";
    width: 20cm;
    height:20cm;
    margin-top:500px;
    margin-left: 757px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .card3 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0Zpx 0px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background:purple;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card3 {
    width: 10cm;
    height:10cm;
    margin-inline: 100px;
    border-radius: 20px;
  
  }
