.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card {
    position: "fixed";
    width: 20cm;
    height:20cm;
    margin-top:500px;
    margin-left: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  .card2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0Zpx 0px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card2 {
    position: "fixed";
    width: 20cm;
    height:20cm;
    margin-top:500px;
    margin-left: 757px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .card3 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(45, 1, 47, 0.2);
    transition: 0.3s;
    background:rgb(83, 4, 83);
  }
 
  /* Add some padding inside the card container */
  .card3 {
    width: 9cm;
    height:9cm;
    margin-inline: 80px;

  
  }

  .card4 {                                                      /*Contact us */                          
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background:rgb(255, 255, 255);
  }
 
  .card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card4 {

    width: 20vw;
    height:30vh;
    margin-inline: 20px;
    border-radius: 1cm;
    border-style:double; 
  }
