.trigger{
     background-color:rgb(60, 1, 60) ;
     border-style:hidden;
     color: white;
     font-weight: bold;
     font-family:Roboto Slab;
     text-align: center;
     text-decoration:none;
     font-size: 20px;     
}
.trigger:hover{
  color: rgb(255, 0, 255);
}

.content{
     color: white;
     border-radius: 6px;
     box-shadow: 0 0 20px 0 rgba(0 0 0 / 0.1);
}

.item{
     padding: 5px 10px;
}

.item:focus{
     background-color: purple;
}